/*
  8pt Grid System
  ========================================================================== */

$x-small: 4px;
$small  : 8px;
$medium : 16px;
$large  : 24px;
$x-large: 32px;

/*
  Typography
  ========================================================================== */
