@use '../utilities/mixins' as *;

$font-scale--desktop: 0.95;
$font-scale--tablet: 0.9;

$font-map: (
  h1: (
    font-size: 3em,
    color: red,
  ),
  h2: (
    font-size: 2.4em,
    color: blue,
  ),
  h3: (
    font-size: 1.8em,
    color: white,
  ),
  h4: (
    font-size: 1.4em,
    color: green,
  ),
  p: (
    font-size: 1.2em,
    color: purple,
  ),
  '.text-sm': (
    font-size: 1em,
    color: yellow,
  ),
  '.text-xs': (
    font-size: 0.8em,
    color: pink,
  ),
);

// @include responsive(phones-portrait) {
@each $font-type, $value in $font-map {
  #{$font-type} {
    color: map-get($value, color);
    font-size: map-get($value, font-size);
  }
}
// }

@include responsive(desktops) {
  @each $font-type, $value in $font-map {
    #{$font-type} {
      color: map-get($value, color);
      font-size: map-get($value, font-size) * $font-scale--desktop;
    }
  }
}

@include responsive(tablets) {
  @each $font-type, $value in $font-map {
    #{$font-type} {
      color: map-get($value, color);
      font-size: map-get($value, font-size) * $font-scale--tablet;
    }
  }
}
